<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZTC7F4EMH4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZTC7F4EMH4');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    {% if description %}
      <meta name="description" content="{{description}}">
      <meta property='og:description'  content="{{description}}">
      <meta name="twitter:description" content="{{description}}">
    {% endif %}
    {% if thumbnail %}
      <meta property="og:image"  content="{{thumbnail}}"/>
      <meta name="twitter:image" content="{{thumbnail}}">
    {% endif %}
    <title>{{ title }}</title>
    <link
			href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
			rel="stylesheet"
		/>
    <link rel="stylesheet" href="/assets/styles/tailwind.css" />
    {% if css %}
      <link rel="stylesheet" href="{{css}}" />
    {% endif %}
  </head>
  <body>
    <div class="flex overflow-auto flex-row-reverse flex-wrap h-screen group">
      <div 
        class="
          relative 
          flex-grow 
          w-1/2 
          h-full 
          overflow-auto
          group-has-[:checked]:w-full
        "
      >
        <label 
          class="hidden hamburger md:block"
        >
          <input type="checkbox" id="menu-toggle" />
        </label>

        <main class="px-10 py-10 mx-auto prose md:px-3">
          <h1>{{ title }}</h1>
          {% if originUrl and originTitle %}
          <div class="note">
            이 글은 <a href="{{ originUrl }}">{{ originTitle }}</a> 를 번역한 것입니다. 원문과 번역본 간에 일부 차이가 있을 수 있으니 참고하시기 바랍니다.
          </div>
          {% endif %}
          {{ content | safe }}
        </main>
      </div>
      <iframe
        src="{{ originUrl }}"
        frameborder="0"
        class="
          flex-grow 
          w-1/2 
          h-full
          group-has-[:checked]:hidden
          hidden
          md:block
        "
      ></iframe>
    </div>
  </body>
</html>
  