<!DOCTYPE html>
<html lang="en">
  {% include "_head.njk" %}
  <body>
    <div class="flex flex-row-reverse flex-wrap h-screen overflow-auto group">
      <div 
        class="
          relative 
          flex-grow 
          w-1/2 
          h-full 
          overflow-auto
          group-has-[:checked]:w-full
        "
      >
        <label 
          class="hidden hamburger md:block"
        >
          <input type="checkbox" id="menu-toggle" />
        </label>

        <main class="px-10 py-10 mx-auto prose md:px-3">
          {% include "list-back-button.njk" %}
          <div>{{ date | dateFilter }}</div>
          <h1>{{ title }}</h1>
          {% if originUrl and originTitle %}
          <div class="note">
            이 글은 <a href="{{ originUrl }}">{{ originTitle }}</a> 를 번역한 것입니다. 원문과 번역본 간에 일부 차이가 있을 수 있으니 참고하시기 바랍니다.
          </div>
          {% endif %}
          {{ content | safe }}
        </main>
      </div>
      <iframe
        src="{{ originUrl }}"
        frameborder="0"
        class="
          flex-grow 
          w-1/2 
          h-full
          group-has-[:checked]:hidden
          hidden
          md:block
        "
      ></iframe>
    </div>

    <script src="/assets/scripts/iframe.js"></script>
  </body>
</html>
  