<a href="/" class="inline-flex items-center gap-1 no-underline hover:underline">
  <img src="/assets/images/common/icons/heroicons-solid:chevron-left.svg" alt="arrow-long-left" class="w-4 h-4 m-0" />
  <span>Posts</span>
</a>