<a href="/" class="inline-flex items-center gap-1 decoration-dotted underline-offset-4 decoration-4 mb-4 hover:decoration-purple-800 hover:text-purple-800 transition-all duration-150">
  <svg
    xmlns="http://www.w3.org/2000/svg" 
    width="20" 
    height="20" 
    viewBox="0 0 20 20"
    class="w-7 h-7 mt-2"
  >
    <path fill="currentColor" fill-rule="evenodd" d="M12.707 5.293a1 1 0 0 1 0 1.414L9.414 10l3.293 3.293a1 1 0 0 1-1.414 1.414l-4-4a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 0" clip-rule="evenodd"/>
  </svg>
  <span class="-ml-1.5">Posts</span>
</a>