<!DOCTYPE html>
<html lang="en">
  {% include "_head.njk" %}
  <body>
    <main class="px-10 py-10 mx-auto md:px-3">
      <h1 class="text-4xl font-light mb-5">{{ title }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>
  