<!DOCTYPE html>
<html lang="en">
  {% include "_head.njk" %}
  <body>
    <main class="px-10 py-10 mx-auto prose md:px-3">
      <h1 class="text-center">{{ title }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>
  