<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZTC7F4EMH4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZTC7F4EMH4');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <style>
      html, body {
        padding: 0;
        margin: 0;
      }

      body {
        background-color: #f4f4f4;
        color: #333;
      }

      h1 {
          margin-bottom: 20px;
          color: #333;
      }

      .wrapper {
        box-sizing: border-box;
        width: 50rem;
        margin: 0 auto;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            margin: 0.75rem 0;
          }
        }
      }

      @media screen and (max-width: 800px) {
        .wrapper {
          width: 100%;
          margin: 0;
          padding: 0 2rem;
        }
      }
    </style>
  </head>
  <body>
    <main class="wrapper">
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>
  